main {
  margin: 0 auto;
  width: 1920px;
}
.Welcome {
  display: flex;
  background-color: #030303;
  background-image: url(/museum/src/background.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 750px;
  width: 1920px;
  margin: 0 auto;
}

.welcome-header {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  color: #ffffff;
}

.welcome-wraper {
  width: 1440px;
  margin: 114px auto;
  display: flex;
  flex-direction: column;
  height: 390px;
}

.welcome-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 26px;
  padding-bottom: 76px;
}

.visitingHeader {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #9d8665;
  margin: 75px 0 25px;
}

.visitingHr {
  border: 3px solid #710707;
  margin-bottom: 75px;
}

.welcome-button {
  background: #710707;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.welcome-button:hover {
  background: #9d8665;
}

.Visiting {
  width: 1440px;
  margin: 0 auto;
  height: 1265px;
}
.tours {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  gap: 60px;
}
.tour {
  display: flex;
  width: 440px;
  height: 422px;
  flex-direction: column;
}

.toutName {
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  margin: 25px 0 9px;
  color: #000000;
}

.tourType {
  color: #000000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 10px 0;
}

.tourDef {
  width: 300px;
  border: 2px solid #710707;
  align-items: left;
  margin: 0;
}

.tourPlatform {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 0 0 77px;
}

.exploreDif {
  border: 3px solid #710707;
}

.yellowVeil {
  color: #caaa7d;
}

.Explore {
  background-color: #030303;
  height: 865px;
  padding-top: 75px;
}

.explore-wraper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.EploreText {
  width: 660px;
  color: #ffffff;
}

.EploreText1 {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  width: 660px;
}

.EploreFigure {
  width: 100%;
  display: flex;
  padding-top: 15px;
}
.VIDEO {
  background-color: #e5e5e5;
}

.Video-wraper {
  width: 1440px;
  margin: 90px auto 40px;
}

.video-header {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #9d8665;
  margin: 0;
}

.video-text {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VIDEO-P {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  max-width: 720px;
}

.Tickets {
  background-color: #030303;
  height: 893px;
}

.Tickets-wraper {
  width: 1440px;
  margin: 0 auto;
  padding-top: 75px;
}

.Tickets-header {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #ffffff;
  margin: 0 0 25px;
}

.tickets-hr {
  border: 3px solid #710707;
  margin-bottom: 75px;
}

label {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.tickets-type-text {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0 0 50px 0;
}

.ticket-type {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
input {
  margin-bottom: 50px;
}

label {
  margin-left: 23px;
}

.culc {
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 14px;
  justify-content: space-between;
}

.tickets-box {
  display: flex;
  flex-direction: row;
}

.culc_button {
  width: 50;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
}

.culc_p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.tickets-bourd {
  display: flex;
}

.Contacts-header {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #9d8665;
  margin: 0;
  padding-top: 75px;
}

.amount-text {
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
  position: right;
  margin: 0 0 11px;
}

.basic {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin: 0 0 14px;
}

.total {
  color: #ffffff;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.649999976158142px;
  text-align: right;
  margin-top: 11px;
}

.buyNow {
  color: #000000;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  width: 175px;
  height: 50px;
  margin-top: 22px;
}
.basic-culc {
  gap: 14px;
  margin-bottom: 37px;
}

.Amount {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.tickets-bourd {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Contacts-wraper {
  width: 1440px;
  margin: 0 auto;
}

.Contacts {
  background-color: #e5e5e5;
}

.Contacts-hr {
  border: 3px solid #710707;
  margin: 25px 00 75px;
}

.contacts-bourd {
  display: flex;
  justify-content: space-between;
}

.head-cont {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 0;
}
.address {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.cont-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 36px;
}

.contacts-img {
  margin-bottom: 75px;
}

.tours a {
  text-decoration: none;
  color: #000000;
}

.tours a:hover {
  color: #9d8665;
}
