header {
  background-color: #030303;
  height: 200px;
  align-items: center;
  margin: 0 auto;
  width: 1920px;
}

.header-wraper {
  width: 1440px;
  justify-content: space-between;
padding-top: 74px;
  display: flex;
  margin: auto;
}

.logo {
  width: 195px;
  display: flex;
  justify-content: space-between;
}

.logo IMG {
  width: 50px;
  height: 34px;
}

.logo-text {
  font-family: Forum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px;
  text-align: left;
  color: #ffffff;
  margin: 0;
}

.menu {
  width: 720px;
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 2px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}


.menu a:hover {
  color: #9d8665;
} 
.pictureEcplore {
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #9d8665;
  margin: 0;
}
